<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-group {
            margin-right: 10px;
        }

        #tablaResultados {
            margin-top: 30px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #dee2e6;
        }

        th, td {
            padding: 10px;
            border: 1px solid #dee2e6;
            text-align: center;
        }

        th {
            background-color: #f8f9fa;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .no-result {
            font-style: italic;
            color: #868e96;
            text-align: center;
            margin-top: 10px;
        }
    </style>

</head>
<body>

<section class="container">
    <h1 style="text-align: center">Resultados de la búsqueda</h1>

    <input type="text" id="filtroComprobante" placeholder="Buscar por coincidencia">
    <button id="buscarComprobanteBtn" class="btn btn-primary">Buscar</button>

    <form id="formularioSeleccion" action="/api/deposits/depositar" method="post">
        <table id="tablaResultados">
            <thead>
            <tr>
                <th><input type="checkbox" id="seleccionarTodos" class="seleccionarTodosCheck"></th>
                <th>Banco</th>
                <th>Cuenta</th>
                <th>Comprobante</th>
                <th>Monto</th>
                <th>Moneda</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Descripcion</th>
                <!-- Agrega más cabeceras si es necesario -->
            </tr>
            </thead>
            <tbody>
            <!-- Itera sobre los registros y muestra cada uno con sus datos -->
            <tr th:each="registro : ${buscarResponseList}">
                <td><input type="checkbox" class="registroSeleccionado" name="seleccionados" value="" th:value="${registro.comprobante}"></td>
                <td th:text="${registro.banco}"></td>

                <td th:text="${registro.numeroDeCuenta}"></td>
                <td th:text="${registro.comprobante}"></td>
                <td th:text="${registro.monto}"></td>
                <td th:text="${registro.moneda}"></td>
                <td th:text="${registro.fecha}"></td>
                <td th:text="${registro.indMigracion}"></td>
                <td th:text="${registro.descripcion}"></td>
                <!-- Agrega más celdas si hay más campos en la entidad Registro -->
            </tr>
            </tbody>
        </table>
        </br>
        <div class="text-center">
            <button id="procesarBtn" class="btn btn-primary" type="submit" disabled>Depositar selección</button>
        </div>
    </form>
    </br>
    <form action="/api/deposits/regresarHome">
        <!-- Botón de regresar -->
        <div class="text-center">
            <button class="btn btn-primary">Regresar</button>
        </div>
    </form>

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--<script>
    document.getElementById('seleccionarTodos').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('.registroSeleccionado');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = document.getElementById('seleccionarTodos').checked;
        });
    });
</script>-->

<script>
    $(document).ready(function() {

        // Función para verificar si algún registro seleccionado tiene el valor "MIGRADO" en la columna "Estado"
        function verificarMigradoSeleccionado() {
            var migradoSeleccionado = false;
            $('.registroSeleccionado:checked').each(function() {
                var estado = $(this).closest('tr').find('td:eq(7)').text().trim(); // Obtener el texto del campo Estado
                if (estado === 'MIGRADO') {
                    migradoSeleccionado = true;
                    return false; // Salir del bucle si se encuentra un registro migrado
                }
            });
            return migradoSeleccionado;
        }

        // Evento click en el botón "Depositar selección"
        $('#procesarBtn').click(function(event) {
            if (verificarMigradoSeleccionado()) {
                alert('No se puede depositar una selección que incluya registros con estado "MIGRADO".');
                event.preventDefault(); // Prevenir el envío del formulario
            }
        });

        // Habilitar o deshabilitar el botón según si hay registros seleccionados
        function actualizarEstadoBoton() {
            var checkboxesSeleccionados = $('.registroSeleccionado:checked').length;
            if (checkboxesSeleccionados > 0) {
                $('#procesarBtn').prop('disabled', false);
            } else {
                $('#procesarBtn').prop('disabled', true);
            }
        }

        // Evento de cambio en los checkboxes
        $('.registroSeleccionado').change(function() {
            actualizarEstadoBoton();
        });

        $('.seleccionarTodosCheck').change(function() {
            // Obtener el estado del checkbox seleccionarTodos
            var estadoCheckbox = $(this).prop('checked');

            // Si se está aplicando un filtro
            if ($('#filtroComprobante').val() !== '') {
                // Seleccionar solo los registros que coinciden con el filtro
                $('#formularioSeleccion tbody tr').each(function() {
                    var contenidoFila = $(this).text().toLowerCase();
                    var filtro = $('#filtroComprobante').val().toLowerCase();
                    if (contenidoFila.includes(filtro)) {
                        $(this).find('.registroSeleccionado').prop('checked', estadoCheckbox);
                    }
                });
            } else {
                // Si no hay filtro, seleccionar todos los registros
                $('.registroSeleccionado').prop('checked', estadoCheckbox);
            }

            // Actualizar el estado del botón
            actualizarEstadoBoton();
        });


        $('#buscarComprobanteBtn').on('click', function() {
            var filtro = $('#filtroComprobante').val().toLowerCase();
            $('#formularioSeleccion tbody tr').each(function() {
                var contenidoFila = $(this).text().toLowerCase();
                if (contenidoFila.includes(filtro)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        // Actualizar el estado del botón después de buscar
        actualizarEstadoBoton();


    });
</script>


</body>
</html>
